FLASK_ENV=development
FLASK_APP=run.py
SECRET_KEY=your-secret-key-here

# Database
DB_USER=postgres
DB_PASSWORD=sqlscoala
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pregnancy_monitoring

DATABASE_URL=postgresql+psycopg://postgres:sqlscoala@localhost:5432/pregnancy_monitoring


# Email (opțional pentru notificări)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-password

# File upload
UPLOAD_FOLDER=app/uploads
